extends ../layout/master

block content
    section
        #transition-timer-carousel.carousel.slide.transition-timer-carousel(data-ride='carousel')
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='http://placehold.it/1024x400', alt='First slide')
                    .carousel-item
                        img.d-block.w-100(src='http://placehold.it/1024x400', alt='Second slide')
                    .carousel-item
                        img.d-block.w-100(src='http://placehold.it/1024x400', alt='Third slide')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

            hr.transition-timer-carousel-progress-bar.animate

    section
        .container
            .card-deck
                .card
                    img.card-img-top(src='...', alt='...')
                    .card-body
                    h5.card-title Card title
                    p.card-text
                        | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src='...', alt='...')
                    .card-body
                    h5.card-title Card title
                    p.card-text This card has supporting text below as a natural lead-in to additional content.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src='...', alt='...')
                    .card-body
                    h5.card-title Card title
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
